@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary-text: #000000;
  --color-secondary-color: #158d2b;
  --color-hover: #15803d;
  --color-primary-border: #7c7878;
  --color-card-bg: #f5f5f5;
  --color-faq-bg: #f6faff;
  --color-brand-primary: #18181b;
}

@theme {
  --breakpoint-small: 425px;
}

@theme inline {
  --font-mont: var(--font-mont);
  --font-manrope: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer base {
  .wrapper {
    @apply mx-auto max-w-[1440px] justify-center px-3.5 md:px-6 lg:px-8 xl:px-20;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  bottom: 20px !important;
  z-index: 30 !important;
}

.swiper-pagination-bullet {
  @apply !h-[14px] !w-[20px] !rounded-lg !bg-white opacity-60;
}

.swiper-pagination-bullet-active {
  @apply !bg-secondary-color opacity-100;
}
